html {
    background-color: white;
}

.header {
    transition: all .3s;
}

.header .nav-item button a:hover {
    color: #fff;
}

.header .nav-item a .icon {
    font-size: inherit;
}

.header .btn .btn-accent {
    position: inherit;
}


#hero-body {
    background-color: rgba(0, 0, 0, 0.2);
}

.docLine {
    border-bottom: #4643e2 1px solid;
}