<!DOCTYPE html>
<html>
    <head>
    <title>DataRegi</title>
    {% include "header" %}
    </head>
<body>

    <div class="header header-fixed unselectable header-animated">
        <div class="header-brand">
            <div class="nav-item no-hover">
                <a href="/"><h6 class="title">DataRegi</h6></a>
            </div>
        </div>
        <div class="header-nav">
            <div class="nav-right">
                <div class="nav-item text-center">
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="hero fullscreen">
        <div class="hero-body u-center">
            <div class="w-90" style="position: relative" id="tableRoot">
                <div class="row">
                    <div class="col-12" style="padding: 2rem;">
                        <h1>Manage all the spreadsheets floating around your organization!</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 offset-3 form-group">
                            <input type="file" id="uploadInput" placeholder="Choose a spreadsheet." multiple style="display:none;"/>
                            <button class="form-group-btn btn-link" id="fileSelect">Select some files</button>
                    </div>
                    <div class="col-3 form-group">
                            <button id="uploadButton" class="form-group-btn btn-link" disabled>Upload</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 offset-3">
                        Selected files: <span id="fileNum">0</span><br/>
                        Total size: <span id="fileSize">0</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 offset-3">
                        {% include "toast" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 offset-3">
                       <h6 id="docCountHeader"></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        function updateSize() {
            let nBytes = 0,
                oFiles = this.files,
                nFiles = oFiles.length;
            for (let nFileId = 0; nFileId < nFiles; nFileId++) {
              nBytes += oFiles[nFileId].size;
            }
            let sOutput = nBytes + " bytes";
            const aMultiples = ["KiB", "MiB", "GiB", "TiB", "PiB", "EiB", "ZiB", "YiB"];
            for (nMultiple = 0, nApprox = nBytes / 1024; nApprox > 1; nApprox /= 1024, nMultiple++) {
              sOutput = nApprox.toFixed(3) + " " + aMultiples[nMultiple];
            }
            document.getElementById("fileNum").innerHTML = nFiles;
            document.getElementById("fileSize").innerHTML = sOutput;
            document.getElementById("uploadButton").disabled = nBytes==0;
        }
        
        const uploadInput=document.getElementById("uploadInput");
        uploadInput.addEventListener("change", updateSize, false);
        const fileSelect = document.getElementById("fileSelect");
   
        fileSelect.addEventListener("click", function (e) {
            if (uploadInput) {
                uploadInput.click();
            }
        }, false);

        async function uploadFiles(){
            let data = new FormData();
            for (const file of uploadInput.files) {
              data.append('files',file,file.name);
            }
            const response = await fetch('/docs', {
                method: 'POST',
                body: data
            });
            response.json().then(data=>{
                showToast(data);
                uploadInput.value=null;
                updateSize.call(uploadInput);
            });
        }

        uploadButton.addEventListener("click", uploadFiles, false);

        const docCount = 0;

        async function loadCount(){
            const response = await fetch('/docs/count', {
                method: 'GET'
            });
            return response.json();
        }

        async function loadList(offset){
            const response = await fetch('/docs?limit=10&order=recent&offset='+offset, {
                    method: 'GET'
                });
            response.json().then(data=>{
                //console.log(data);
                for (let docLine of document.getElementsByClassName("docLine")){
                    docLine.remove();
                }
                let tableRoot=document.getElementById("tableRoot");
                
                for (const docInfo of data){
                    let docLine=document.createElement("div");
                    docLine.className="row docLine";
                    let docItem=document.createElement("div");
                    docItem.className="col-3 offset-3";
                    docItem.textContent=docInfo['name'];
                    docLine.appendChild(docItem);
                    let details=document.createElement("div");
                    details.className="col-3";
                    details.textContent=new Date(docInfo['created']).toLocaleString();
                    docLine.appendChild(details);
                    tableRoot.appendChild(docLine);
                }
            });
        }


        function showDocCount(docCount){
            let txt="You have no documents yet";
            if (docCount==1){
                txt="You have nly 1 document";
            } else if (docCount>1){
                txt="You have " +docCount.toString()+" documents";
            }
            document.getElementById('docCountHeader').textContent=txt;
        }

        (async()=>{
            loadCount().then(data=>{
                this.docCount=data;
                showDocCount(this.docCount);
                loadList(0);
            });
        })();
    </script>

</body>
</html>
